{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
<div class="container">
<table class="details">
        <thead>

        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>

 {% for item in cart %}
            {% with product=item.product %}
        <tr class="total">
            <td colspan="0" class="num" style="padding-right: 100px;"><img style="width: 80px; border-radius: 5px; padding: 5px;"
							src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
							alt="Фото курса"
							class="details-action-box-img"
						/></td>
            <td class="num" style="padding-right: 100px;">{{ product.name }}</td>
            <td colspan="0" class="num" style="padding-right: 100px;">{{ item.quantity }}</td>
            <td class="num" style="padding-right: 100px;" ><a class="btn btn-warning" style="font-size: 17px;" href="{% url 'cart_remove' product.id%}">Remove</a></td>
            <td colspan="1  " style="padding-right: 100px;">{{ product.price }} сом</td>
            <td class="num" style="padding-right: 100px;">*</td>
        </tr>

 {% endwith %}

        {% endfor %}
<tr class="total">

            <td colspan="5"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>


        </tbody>
    </table>

<p class="text-right">
    <a href="{% url 'product_list' %}" style="font-size: 17px;" class="btn btn-success">Continue shopping</a>
    <a href="{% url 'order_create' %}" class="btn btn-warning" style="font-size: 17px;">
        Checkout
    </a>
</p>
</div>

    </div>
{% endblock %}
