{% extends "shop/base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}

<section>
			<div class="details container">
				<div class="details-action">
					<div class="details-action-box" style="width: 300px;">
                        <h1>Checkout</h1>
                        <div class="order-info">
                            <h3>Your order</h3>
                            <ul>
                                {% for item in cart %}
                                    <li>
                                        {{ item.quantity }}x {{ item.product.name }}
                                        <span>${{ item.total_price }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                            <p>Total: ${{ cart.get_total_price }}</p>
                        </div>
					</div>

				</div>
				<div class="details-content">
					<div class="details-content-title">
						<h1>{{ product.name }}</h1>
					</div>
					<p class="details-content-desc">

					</p>

					<div class="details-fieldset">
						<div class="details-fieldset-title">Заказ</div>
						<form action="." method="post" class="order-form">
                            {{ form.as_p }}
                            <p><input style="font-size: 17px;" class="btn btn-success" type="submit" value="Place order"></p>
                            {% csrf_token %}
                        </form>
					</div>
				</div>
			</div>
		</section>


{% endblock %}
